*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: rgb(109, 109, 199);
    font-size: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
}


