*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10% ;
    background-color: rgb(81, 81, 187);
}

nav li{
    display: inline-block ;
    padding: 0px 20px;
}